<h1>Listing events</h1>

<table class="table table-hover">
  <tr>
    <th>Title</th>
    <th>User</th>
    <th>Final destination</th>
    <th>Final time</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @events.each do |z| %>
  <tr>
    <td><%= z.title %></td>
    <td><%= z.user_id %></td>
    <td><%= z.final_destination %></td>
    <td><%= z.final_time %></td>
    <td><%= z.description %></td>
    <td><%= link_to 'Show', z %></td>
    <td><%= link_to 'Edit', edit_event_path(z) %></td>
    <td><%= link_to 'Destroy', z, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Event', new_event_path %>
